<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <meta name="description" content="A comparison of Rust to C++ and Java">
    <meta name="author" content="William Speirs">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400italic,100,700italic,700,400|Roboto+Slab|Ubuntu+Mono" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link href="static/prism.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="container">
        <div class="row" id="header">
            <div class="col-xs-12">
                <h1>Rust Compare</h1>
                <h4>A comparison of code in Rust, C++, and Java.</h4>
                <span style="font-size: 12px;">Originally conceived by William Speirs</span>
            </div>
        </div>
    </div>
</header>

<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-1">
			<ul class="nav main-menu">
                {% for item in menu_items %}
                    {% if item.page is none %}
                    <li><strong>{{item.name}}</strong></li>
                    {% else %}
                    <li><a href="{{item.page.template}}">{{item.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-11">
            {% block content %}
            {% endblock %}
		</div>
		<!--End Content-->
	</div>
</div>

<script src="static/prism.js"></script>

</body>
</html>