{% extends "_page.html" %}

{% block intro %}
Representations of enumerations.
{% endblock %}

{% block description %}
C++ has two methods to represent an <code>enum</code>. Using <code>enum class</code> should be
favored as it provides scoping.
</p><p>
Rust's <code>enum</code>s provides equality testing by adding <code>#[derive(PartialEq, Eq)]</code>
to the <code>enum</code>. The use of <code>match</code> is helpful because it forces the checking
of all options of the <code>enum</code>. Rust also provides a mechanism to capture an instance
of a type for an option of an <code>enum</code>.
</p><p>
Java's <code>enum</code> is similar to C++ although you can define methods and a constructor.
</p>
{% endblock %}

