{% extends "_page.html" %}

{% block intro %}
Rust compare was built to compare three different "systems" programming languages: C++, Rust, and Java. Each section
looks at a different feature of programming laugages and how each language handles this feature. Whenever possible all
attempts where made to "do it the same way" across languages. The purpose is to highlight the differences
and to show examples for each language. This site does not provide commentary on which language is "better" than another.
<br/>
{% endblock %}

{% block description %}
This site is community driven. To add, remove, or update a section simply fork the <a href='https://github.com/wspeirs/rust-compare'>repo on GitHub</a>, make your changes,
and submit a pull request.
{% endblock %}

