{% extends "_base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>404 Not Found</h2>
        <h4>This page was not found. This is probably because the code has not been written yet.
            If you had expected to see a page here, make sure you've added it to the side_menu.py file.</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Example entry:</h4>
        <pre>{'name': 'Primitives', 'page': {'template': 'primitives.html', 'cpp': 'primitives.cpp', 'rust': 'primitives.rs', 'java': 'Primitives.java'}},</pre>
    </div>

</div>
{% endblock %}
