{% extends "_page.html" %}

{% block intro %}
Linear data structures.
{% endblock %}

{% block description %}
C++11 added brace-initialization to the language and greatly simplified the initialization of conainters. Rust has this
through a macro for <code>Vec</code>, but lacks it for <code>LinkedList</code>. Java does not provide any type of
initialization. The easiest way is to leverage <code>Arrays.asList()</code>.</p>
<p>Sorting is different across the board. In Java a generic algorithm is used to operate on the two containers. In C++
one container has a specialized method, while the other dose not. A generic algorithm can be used for both; however, it
is always a good idea to use class methods when they are available. Rust has no way to sort a <code>LinkedList</code>
{% endblock %}

